<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script th:src="@{/scripts/cartManipulation.js}"></script>
    <script th:src="@{/scripts/orderContextManipulation.js}"></script>
</head>
<body onload="init()">

<header th:insert="general :: header"> content here</header>

<table id="tableCart"></table>
<form th:onsubmit="sendOrder()" th:object="${orderDetails}" id="orderForm" hidden>
    <fieldset>
        <div>
            <label for="name">Enter your name: </label>
            <input type="text" th:field="*{name}" id="name"/>
            <span class="errorMsg" id="nameError" hidden></span>
            <br/>
            <label for="phoneNumber">Enter phone number: </label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
            <span class="errorMsg" id="phoneNumberError" hidden></span>
            <br/>
            <label for="email">Enter email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            <span class="errorMsg" id="emailError" hidden></span>
            <br/>
            <label for="postIndex">Enter post index: </label>
            <input type="text" th:field="*{postIndex}" id="postIndex"/>
            <span class="errorMsg" id="postIndexError" hidden></span>
            <br/>
            <label for="country">Enter country: </label>
            <input type="text" th:field="*{country}" id="country"/>
            <span class="errorMsg" id="countryError" hidden></span>
            <br/>
            <label for="city">Enter city: </label>
            <input type="text" th:field="*{city}" id="city"/>
            <span class="errorMsg" id="cityError" hidden></span>
            <br/>
            <label for="address">Enter address: </label>
            <input type="text" th:field="*{address}" id="address"/>
            <span class="errorMsg" id="addressError" hidden></span>
            <br/>
            <label for="comment">Enter comment: </label>
            <input type="text" th:field="*{comment}" id="comment"/>
            <span class="errorMsg" id="commentError" hidden></span>
            <br/>
            <label for="promoCode">Enter promocode: </label>
            <input type="text" th:field="*{promoCode}" id="promoCode"/>
            <span class="errorMsg" id="promoCodeError" hidden></span>
            <br/>
<!--            <p hidden>-->
<!--                <input type="submit" id="buttonNew" value="Create" hidden>-->
<!--            </p>-->
        </div>
    </fieldset>
</form>

<input type="button" onclick="sendOrder()" value="Order" id="buttonNew" hidden>

<script th:inline="javascript">

    function buildCartParam() {
        var cart = JSON.parse(localStorage.getItem('cart')) || [];

        var url = window.location.href;
        var cartParam = '';
        if (url.indexOf('?') > -1) {
            cartParam += '&';
        } else {
            cartParam += '?';
        }

        cartParam += 'cart=';
        for (let i = 0; i < cart.length; i++) {
            if (i > 0) {
                cartParam += '_';
            }
            cartParam += cart[i];
        }
        return cartParam;
    }

    function init() {
        var url = window.location.href;
        if (!url.includes('cart=')) {
            url += buildCartParam();
            window.location.href = url;
        } else {

            var cart = JSON.parse(localStorage.getItem('cart')) || [];

            var table = document.getElementById("tableCart");

            if (cart.length === 0) {

                table.insertRow(0).insertCell(0).innerText = "Cart is empty";

            } else {

                let sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL'];

                products = [[${products}]];

                for (var i = 0; i < products.length; i++) {

                    var product = products[i];
                    var id = product.id;

                    var row = table.insertRow(i);
                    row.id = id;

                    var cell0 = row.insertCell(0);
                    cell0.innerHTML = '<input type="checkbox" id="' + id + '" name="selection" value="selection" checked />';

                    var cell1 = row.insertCell(1);
                    for (let i = 1; i <= 5; i++) {
                        cell1.innerHTML += `<option value="${i}">${i}</option>`;
                    }
                    cell1.innerHTML = '<select name="count" id="' + id + '">' + cell1.innerHTML;
                    cell1.innerHTML += '</select>';

                    var cell2 = row.insertCell(2);
                    for (let i = 0; i < sizes.length; i++) {
                        cell2.innerHTML += `<option value="${sizes[i]}">${sizes[i]}</option>`;
                    }
                    cell2.innerHTML = '<select name="size" id="' + id + '">' + cell2.innerHTML;
                    cell2.innerHTML += '</select>';

                    var cell3 = row.insertCell(3);
                    cell3.innerHTML = '<a href=../products/' + id + '>' + product.name + '</a>';

                    var cell4 = row.insertCell(4);
                    cell4.innerHTML = product.currentPrice;

                    var cell5 = row.insertCell(5);
                    cell5.innerHTML = '<form><input type="button" onclick="removeProductFromCart(' + id + ')" value = "Delete"></form>';

                }

                document.getElementById("orderForm").style.display = "block";
                document.getElementById("buttonNew").style.display = "block";
            }
        }
    }

    </script>

    </body>
    </html>