<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<header th:insert="general :: header"> content here </header>

<form th:method="PATCH" enctype="multipart/form-data" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
    <fieldset>
        <p>
            <label for="category">Choose category: </label>
            <select th:selected="${product.getCategory()}" name="category" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.getId()}" th:text="${category.getName()}"></option>
            </select>
        </p>
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <label for="description">Enter description: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
        <br/>
        <label for="color">Enter color: </label>
        <input type="text" th:field="*{color}" id="color"/>
        <div style="color:red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color Error</div>
        <br/>
        <label for="materials">Enter materials: </label>
        <input type="text" th:field="*{materials}" id="materials"/>
        <div style="color:red" th:if="${#fields.hasErrors('materials')}" th:errors="*{materials}">Materials Error</div>
        <br/>
        <label for="initialPrice">Enter initial price: </label>
        <input type="number" min="0" th:field="*{initialPrice}" id="initialPrice"/>
        <div style="color:red" th:if="${#fields.hasErrors('initialPrice')}" th:errors="*{initialPrice}">Initial price Error</div>
        <br/>
        <p>
            <label for="shownInfo">Choose shown info: </label>
            <select name="stateOfShownInfo" id="shownInfo">
                <option th:each="stateOfShownInfo : ${T(ru.vsu.cs.volchenko.site.entity.StateOfShownInfo).values()}"
                        th:value="${stateOfShownInfo}" th:text="${stateOfShownInfo.toString()}"></option>
            </select>
        </p>
        <p>
            <label for="image">Upload photo: </label>
            <input type="file" name="image" accept="image/*" id="image">
        </p>
        <p>
            <input type="submit" value="Edit"/>
        </p>
    </fieldset>
</form>

</body>
</html>