<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <script th:src="@{/scripts/cartManipulation.js}"></script>
    <script th:src="@{/scripts/cartButtonsVisibility.js}"></script>
</head>
<body th:onload="'hideNecessaryElement(' + ${product.getId()} + ')'">

<header th:insert="general :: header"> content here </header>

<div th:if="${product.getStateOfShownInfo().toString() != 'HIDE_ALL'}">
    <div style="border: 1px black solid;">
        <div th:each="photo : ${product.getPhotos()}">
            <img th:src="@{/photos/{product_id}_{position}(product_id=${photo.getProduct().getId()}, position=${photo.getPosition()})}">
        </div>
        <img th:if="${product.getPhotos().isEmpty()}" th:src="@{/photos/no_photo.jpg}">
        <p th:text="${product.getName()}">VALUE</p>
        <p th:text="${product.getCategory().getName()}">VALUE</p>
        <p th:text="${product.getDescription()}">VALUE</p>
        <p th:text="${product.getReleaseDate()}">DATE</p>
        <p th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}"
           th:text="${product.getCurrentPrice()}">VALUE</p>
    </div>

    <div>
        <br>
        <form id="formAdd" th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}">
            <input type="button" th:onclick="'addProductToCart(' + ${product.getId()} + ')'" value = "Add product to cart">
        </form>
        <form id="formRemove" th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}">
            <input type="button" th:onclick="'removeProductFromCart(' + ${product.getId()} + ')'" value = "Delete product from cart">
        </form>
    </div>


    <div>
        <br>
        <a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit product</a>

        <form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
            <input type="submit" value="Delete product"/>
        </form>
    </div>


</div>

<p th:if="${product.getStateOfShownInfo().toString() == 'HIDE_ALL'}">Element hidden</p>
</body>
</html>