<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <script th:src="@{/scripts/cartManipulation.js}"></script>
    <script th:src="@{/scripts/productsShowVisibility.js}"></script>
    <link rel="stylesheet" th:href="@{/stylesheets/index.css}">
</head>
<body th:onload="'hideNecessaryElements(' + ${product.getId()} + ', ' + ${product.getPhotos().size()} + ')'">

<header th:insert="general :: header"> content here </header>

<div th:if="${product.getStateOfShownInfo().toString() != 'HIDE_ALL'}">
    <div class="productFullShow">
        <div th:if="${product.getPhotos().size() != 0}"  style="display:flex; flex-grow: 1;">
            <form id="formPrevPhoto">
                <input type="button" onclick="prevPhoto()" value = "Prev" style="height: 100%">
            </form>
            <div th:each="photo : ${product.getPhotos()}">
                <img th:src="@{/photos/{product_id}_{position}(product_id=${photo.getProduct().getId()}, position=${photo.getPosition()})}"
                     th:id="'photo' + ${photo.getPosition()}" class="productPhoto">
            </div>
            <form id="formNextPhoto">
                <input type="button" onclick="nextPhoto()" value = "Next" style="height: 100%">
            </form>
        </div>
        <img th:if="${product.getPhotos().isEmpty()}" th:src="@{/photos/no_photo.jpg}" class="productPhoto">
        <hr style="width: 100%">
        <p th:text="${product.getName()}">VALUE</p>
        <p th:text="${product.getCategory().getName()}">VALUE</p>
        <p th:text="${product.getDescription()}">VALUE</p>
        <p th:text="${product.getReleaseDate()}">DATE</p>
        <p th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}"
           th:text="${product.getCurrentPrice()}">VALUE</p>
    </div>

    <div>
        <form id="formAdd" th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}">
            <input type="button" th:onclick="'addProductToCart(' + ${product.getId()} + ')'" value = "Add product to cart">
        </form>
        <form id="formRemove" th:if="${product.getStateOfShownInfo().toString() == 'ALL_VISIBLE'}">
            <input type="button" th:onclick="'removeProductFromCart(' + ${product.getId()} + ')'" value = "Delete product from cart">
        </form>
    </div>

    <hr>

    <div>
        <a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit product</a>
        <form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
            <input type="submit" value="Delete product"/>
        </form>
    </div>


</div>

<p th:if="${product.getStateOfShownInfo().toString() == 'HIDE_ALL'}">Element hidden</p>

</body>
</html>