.productPhoto {
    width: 300px;
    height: 400px;
}

.errorMsg {
    color: red;
}

.headerBlock {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
}

.productCard {
    align-items: center;
    width: min-content;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    margin: 10px 20px 10px 0;
}

.productFullShow {
    width: min-content;
    border: 1px solid;
    margin-bottom: 10px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    width: min-content;
}
