<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="header">
        <div class="headerBlock">
            <link rel="stylesheet" th:href="@{/stylesheets/index.css}">
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/photos/home.png}">
                </a>
            </div>
            <div>
                <a th:href="@{/products}">
                    <img th:src="@{/photos/view.png}">
                </a>
            </div>
            <div>
                <a th:href="@{/cart}">
                    <img th:src="@{/photos/cart.png}">
                </a>
            </div>
        </div>
        <hr>
    </div>

</body>
</html>